<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class="col-sm-6"><h4 class="title">Testimonial List</h4></div>
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>User Name</th>
                                        <th>Rating</th>
                                        <th>Feedback</th>
                                        <th>Active</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr *ngFor="let feedback of feedbackData; let i = index" [attr.data-index]="i">
                                        <td>{{i+1}}</td>
                                        <td>{{feedback.username}}</td>
                                        <td>{{feedback.rating}}</td>
                                        <td>{{feedback.feedback}}</td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="active" [checked]="feedback.active"  (change)="onChange($event,feedback,feedback._id)">
                                         </div>
                                        <td role="button"><i class="fa fa-trash" (click)="deleteFeedback(feedback._id)"></i></td>
                                       </tr>
                                </tbody>
                          </table>
                    </div>
                </div>
            </div>
