<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Or sign in with credentials</small>
              </div>
              <form  [formGroup]="loginForm" (ngSubmit)="loginUser();">
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" formControlName="email" (focus)="focus=true" (blur)="focus=false">
                  </div>
                  <ng-container *ngIf="submitted">
                    <ng-container *ngFor="let v of validationMessages.email">
                          <p *ngIf="loginForm.get('email').hasError(v.type)" class="text-danger" [innerText]="v.message"></p>
                       </ng-container>
                </ng-container>
                </div>

                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password" formControlName="password" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                  <ng-container *ngIf="submitted">
                    <ng-container *ngFor="let v of validationMessages.password">
                          <p *ngIf="loginForm.get('password').hasError(v.type)" class="text-danger" [innerText]="v.message"></p>
                       </ng-container>
                </ng-container>
                </div>


                <div class="text-center">
                  <input type="submit" value="Sign in" class="btn btn-primary my-4" />
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <!-- <a href="javascript:void(0)" class="text-light">
                <small>Forgot password?</small>
              </a> -->
            </div>
            <div class="col-6 text-right">
              <a [routerLink]="['/register']"  class="text-light">
                <small>Create new account</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
