
<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250" id="landing">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">A beautiful Design System
                <span>completed with examples</span>
              </h1>
              <p class="lead  text-white">The design system comes with four pre-built pages to help you get started
                faster. You can change the text and images and you're good to go.</p>
              <div class="btn-wrapper">
                <a href="javascript:void(0)" class="btn btn-info btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                  <span class="btn-inner--text">Components</span>
                </a>
                <a href="javascript:void(0)" class="btn btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                  <span class="btn-inner--text">Download Angular</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>

  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/theme/promo-1.png" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h3>Awesome features</h3>
            <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and
              images and you're good to go.</p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Carefully crafted components</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-html5"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Amazing page examples</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Super friendly support team</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/theme/img-1-1200x1000.jpg" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">Design System</h4>
              <p class="lead text-italic text-white">The Arctic Ocean freezes every winter and much of the sea-ice then
                thaws every summer, and that process will continue whatever happens.</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="ni ni-settings"></i>
            </div>
            <h3>Our customers</h3>
            <p class="lead">Don't let your uses guess by attaching tooltips and popoves to any element. Just make sure
              you enable them first via JavaScript.</p>
            <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and
              images and you're good to go.</p>
            <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and
              images and you're good to go.</p>
            <a href="javascript:void(0)" class="font-weight-bold text-warning mt-5">A beautiful UI Kit for impactful
              websites</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section pb-0 bg-gradient-warning" id="blog">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-lg-2 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
        
          <div class="card shadow shadow-lg--hover mt-3" *ngFor="let blog of blogInfo  | slice:0:3; let i = index"
            [attr.data-index]="i">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <img class="avatar border-gray" width="45px" height="45px" style="border-radius:50%;"
                    src="{{blog.image}}" alt="User Image" />
                 
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">{{blog.title}}</h5>
                  <p>
                    {{(showMore) ? blog.des : blog.des | slice:0:100}}
                    <a [routerLink]="['/showSingleBlog',blog._id]" role="button" class="text-success">Learn more</a>
                  </p>
                  <small class="font-weight-bold">Author @{{blog.author}}</small>
                </div>
              </div>
            </div>
          </div>

          <div class="card  mt-3">
            <div class="card-body">
              <div class="d-flex ">
                <div class="text-center">
                  <a [routerLink]="['/showBlog']"><span class="nav-link-inner--text">Show More Blog</span></a>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg" id="about">
    <div class="container">
      <div class="row justify-content-center text-center mb-lg">
        <div class="col-lg-8">
          <h2 class="display-3">The amazing Team</h2>
          <p class="lead text-muted">According to the National Oceanic and Atmospheric Administration, Ted, Scambos,
            NSIDClead scentist, puts the potentially record maximum.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/theme/team-1-800x800.jpg"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Ryan Tompson</span>
                <small class="h6 text-muted">Web Developer</small>
              </h5>
              <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-warning btn-icon-only rounded-circle">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-warning btn-icon-only rounded-circle">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-warning btn-icon-only rounded-circle">
                  <i class="fa fa-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/theme/team-2-800x800.jpg"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Romina Hadid</span>
                <small class="h6 text-muted">Marketing Strategist</small>
              </h5>
              <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-primary btn-icon-only rounded-circle">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-primary btn-icon-only rounded-circle">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-primary btn-icon-only rounded-circle">
                  <i class="fa fa-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/theme/team-3-800x800.jpg"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Alexander Smith</span>
                <small class="h6 text-muted">UI/UX Designer</small>
              </h5>
              <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-info btn-icon-only rounded-circle">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-info btn-icon-only rounded-circle">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-info btn-icon-only rounded-circle">
                  <i class="fa fa-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/theme/team-4-800x800.jpg"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">John Doe</span>
                <small class="h6 text-muted">Founder and CEO</small>
              </h5>
              <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-success btn-icon-only rounded-circle">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-success btn-icon-only rounded-circle">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-success btn-icon-only rounded-circle">
                  <i class="fa fa-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg pt-0" id="feedback">
    <div class="container">
      <div class="card bg-gradient-warning shadow-lg border-0">
        <div class="text-center mt-5">
          <h1 class="display-3"> Testimonial</h1>
        </div>
        <section class="section section-lg my-1 mx-2">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <div class="row row-grid">
                  <div class="col-lg-4" *ngFor="let feedback of feedData ; let i = index" [attr.data-index]="i">
                    <div class="card card-lift--hover shadow border-0">
                      <div class="card-body ">
                        <div>
                          <img class="avatar border-gray" width="45px" height="45px" style="border-radius:50%;"
                            src="{{feedback?.user_Id.image}}" alt="User Image" />
                        </div>
                        <h6 class="text-primary text-uppercase">{{feedback.username}}</h6>
                        <div class="description mt-3">
                          <p>{{feedback.feedback}}</p>
                        </div>
                        <div class="mt-3">
                          <ng-rating-bar
                          [value]="feedback.rating"
                          [ratingCount]="ratingCount"
                          [disabled]="true"
                          colorActive="green"
                          colorDefault="gray"
                        ></ng-rating-bar>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>




  <section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-300">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Build something</h2>
          <p class="lead text-white">According to the National Oceanic and Atmospheric Administration, Ted, Scambos,
            NSIDClead scentist, puts the potentially record low maximum sea ice extent tihs year down to low ice.</p>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-settings text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Building tools</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-ruler-pencil text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Grow your market</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-atom text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Launch time</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg pt-lg-0 section-contact-us" id='contact'>
    <div class="container">
      <div class="row justify-content-center mt--300">
        <div class="col-lg-8">
          <div class="card bg-gradient-secondary shadow">
            <div class="card-body p-lg-5">
              <h4 class="mb-1">Want to Contact us?</h4>

              <form [formGroup]="contactForm" (ngSubmit)="contactUser();contactForm.reset();">
                <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                    </div>
                    <input class="form-control" placeholder="Your name" type="text" formControlName="name"
                      (focus)="focus=true" (blur)="focus=false">
                  </div>
                  <ng-container *ngIf="submitted">
                    <ng-container *ngFor="let v of validationMessages.name">
                      <p *ngIf="contactForm.get('name').hasError(v.type)" class="text-danger" [innerText]="v.message">
                      </p>
                    </ng-container>
                  </ng-container>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email address" type="email" formControlName="email"
                      (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                  <ng-container *ngIf="submitted">
                    <ng-container *ngFor="let v of validationMessages.email">
                      <p *ngIf="contactForm.get('email').hasError(v.type)" class="text-danger" [innerText]="v.message">
                      </p>
                    </ng-container>
                  </ng-container>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <div class="form-group d-flex">
                      <input type="radio" formControlName="title" id="rd1" value="Shopping" (focus)="focus1=true"
                        (blur)="focus1=false"><label class="mx-2">Shopping</label>
                      <input type="radio" formControlName="title" id="rd2" value="Job opportunity" (focus)="focus1=true"
                        (blur)="focus1=false"><label class="mx-2">Job opportunity</label>
                    </div>
                  </div>
                  <ng-container *ngIf="submitted">
                    <ng-container *ngFor="let v of validationMessages.title">
                      <p *ngIf="contactForm.get('title').hasError(v.type)" class="text-danger" [innerText]="v.message">
                      </p>
                    </ng-container>
                  </ng-container>
                </div>
                <div class="form-group mb-4">
                  <textarea class="form-control form-control-alternative" formControlName="message" rows="4" cols="80"
                    placeholder="Type a message..."></textarea>
                  <ng-container *ngIf="submitted">
                    <ng-container *ngFor="let v of validationMessages.message">
                      <p *ngIf="contactForm.get('message').hasError(v.type)" class="text-danger"
                        [innerText]="v.message"></p>
                    </ng-container>
                  </ng-container>
                </div>
                <div>
                  <button type="submit" class="btn btn-default btn-round btn-block btn-lg">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3">Do you love this awesome
            <span class="text-success">Design System for Angular?</span>
          </h2>
          <p class="lead">Cause if you do, it can be yours for FREE. Hit the button below to navigate to Creative Tim
            where you can find the Design System in Angular. Start a new project or give an old Angular project a new
            look!</p>
          <div class="btn-wrapper">
            <a href="javascript:void(0)" class="btn btn-primary mb-3 mb-sm-0">Download Angular</a>
          </div>
     
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  <div class="container">
    <div class="row row-grid align-items-center" [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
        <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
      </div>
    </div>
    <hr>
  </div>
</footer>
<!--Scroll to top-->
  <i [ngClass]="{'show-scroll': showScroll}" (click)="scrollToTop()" class="fa-2x fa-solid fa-caret-up scroll-to-top"></i>
