i {
    
    color:rgb(19, 18, 18);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 650px;
    opacity: 0;
    transition: all .2s ease-in-out;
  }
  
  .show-scroll {
    opacity: 1;
  }