<main>
    <div class="position-relative">
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container py-lg-md d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1 class="display-3  text-white">
                                <div class="text-center">
                                    <h1 class="my-3">Blog Details</h1>
                                </div>
                                <!-- A beautiful Design System
                                <span>completed with examples</span> -->
                            </h1>
                            <p class="lead  text-white">The design system comes with four pre-built pages to help you
                                get started
                                faster. You can change the text and images and you're good to go.</p>
                            <div class="btn-wrapper">
                                <a href="javascript:void(0)" class="btn btn-info btn-icon mb-3 mb-sm-0">
                                    <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                                    <span class="btn-inner--text">Components</span>
                                </a>
                                <a href="javascript:void(0)" class="btn btn-white btn-icon mb-3 mb-sm-0">
                                    <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                                    <span class="btn-inner--text">Download Angular</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
        <!-- 1st Hero Variation -->
    </div>
    <div>
        <section class="section pb-0 bg-gradient-warning" id="blog">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-md-6 order-lg-2 ml-lg-auto">
                        <div class="position-relative pl-md-5">
                            <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="card shadow shadow-lg--hover my-3">
                            <div class="card-body">
                                <div class="d-flex px-3">
                                    <div>
                                        <img class="avatar border-gray" width="45px" height="45px"
                                            style="border-radius:50%;" src="{{blogInfo?.image}}" alt="User Image" />
                                    </div>
                                    <div class="pl-4">
                                        <h5 class="title text-success">{{blogInfo?.title}}</h5>
                                        <p>{{blogInfo?.des}}</p>
                                        <small class="font-weight-bold">Author @{{blogInfo?.author}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
    <div class="container">
      <div class="row row-grid align-items-center" [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
        <div class="col-lg-6">
          <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
          <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
        </div>
      </div>
      <hr>
    </div>
  </footer>